---
domain: '{{ ansible_domain }}'
lang: C.UTF-8
timezone: UTC
preffered_mirror: 'http://mirror.yandex.ru'
ssh_listen_port: '{{ ansible_ssh_port | d("22") }}'
common_sshd_options:
  LogLevel: ERROR
  AcceptEnv: EDITOR

common_root_alias: 'root@{{ domain }}'

common_sysctl:
  net.ipv6.conf.all.disable_ipv6: 1

common_grub_defaults:
  GRUB_CMDLINE_LINUX_DEFAULT: 'console=tty {{ grub_cmdline_append | d() }}'
  GRUB_TERMINAL: "console serial"
  GRUB_SERIAL_COMMAND: "serial --speed=38400 --unit=1 --word=8 --parity=no --stop=1"

# list of modules to add into /etc/modules-load.d/90-ansible-common.conf
common_modules_load:

common_sudoers_rules:
- '%adm ALL = NOPASSWD:/usr/sbin/tcpdump, /usr/sbin/iftop'

common_modprobe_conf:
- 'blacklist floppy'
- 'blacklist n_hdlc' #CVE-2017-2636

common_netlog_omit: False

common_install_pkgs_groups: "{}"
common_install_pkgs_host: "{}"
common_install_pkgs_distribution: "[]"
common_install_pkgs:
- apg
- bc
- cryptsetup
- curl
- dbus
- dos2unix
- dosfstools
- e2fsprogs
- ethtool
- file
- findutils
- ftp
- gzip
- htop
- ifenslave
- iftop
- iotop
- iptables
- less
- lsb-release
- lsof
- lvm2
- mc
- mdadm
- nano
- ngrep
- nmap
- ntpdate
- openssh-server
- p7zip
- pciutils
- postfix
- psmisc
- python-httplib2
- python-netaddr
- python-simplejson
- rsync
- screen
- sdparm
- sed
- strace
- sudo
- sysstat
- tar
- tcpdump
- telnet
- tmux
- traceroute
- unzip
- vim
- vlan
- wget
- whois
- xfsprogs

