---
- name: Include Distribution version specific variables
  include_vars: "{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"

- apt: name={{ item }}
  with_flattened: 
  - "{{ workstation_desktop.split() }}"
  - "{{ workstation_apps.split() }}"
  - "{{ workstation_apps_printer.split() }}"


- template: src=crypttab dest=/etc/
- lineinfile: dest=/etc/fstab line="/dev/mapper/home /home auto defaults,discard 0 2"
  when: workstation_crypt_home is defined
- lineinfile: dest=/etc/fstab line="/dev/mapper/data /home/data auto defaults 0 2"
  when: workstation_crypt_data is defined

- user: name={{ workstation_user }} uid=1000 home=/home/{{ workstation_user }} shell=/bin/bash password={{ root_password }} groups=sudo
- copy: dest=/etc/ssh/keys/{{ workstation_user }} content='{{ root_pubkey }}@{{ domain }}\n'
- lineinfile: dest='/etc/security/limits.d/{{ workstation_user }}.conf' line='{{ workstation_user }} - nofile 10000' mode=644 create=yes

- block:
  - command: gsettings set org.mate.peripherals-keyboard-xkb.indicator show-flags "true"
  - command: gsettings set org.mate.power-manager sleep-display-battery 3600
  - command: gsettings set org.mate.power-manager sleep-display-ac 3600
  - command: gsettings set org.mate.power-manager idle-dim-ac false
  - command: gsettings set org.mate.power-manager sleep-computer-ac 7200
  - command: gsettings set org.mate.power-manager idle-dim-battery false
  - file: dest=/home/{{ workstation_user }}/.icons/flags state=directory
  - copy: src=files/flags/ dest=/home/{{ workstation_user }}/.icons/flags/
  become_user: '{{ workstation_user }}'

- block:
  - service: name=rpcbind.socket enabled=no state=stopped
  - service: name=rpcbind enabled=no state=stopped
  - service: name=rsync enabled=no state=stopped
  - service: name=smbd enabled=no state=stopped
  - service: name=nmbd enabled=no state=stopped
  - service: name=avahi-daemon enabled=no state=stopped
  - file: dest=/etc/opt/chrome/policies/managed/ state=directory
  - template: dest=/etc/opt/chrome/policies/managed/ src=chrome_cache.json
  - template: dest=/etc/chromium-browser/policies/managed/ src=chromium_cache.json
  - template: dest=/etc/firefox/ src=firefox/syspref.js
  ignore_errors: true

# Chromium hangs frequently with these options
#- sysctl: name=vm.overcommit_memory value=2 sysctl_file=/etc/sysctl.d/90-ansible-workstation.conf
#- sysctl: name=vm.overcommit_ratio value=100 sysctl_file=/etc/sysctl.d/90-ansible-workstation.conf

#- name: Install Netspeed applet http://forum.ubuntu.ru/index.php?topic=232842.msg1939882#msg1939882
#  apt_repository: repo='ppa:fixnix/netspeed'
#- apt: update_cache=yes pkg=indicator-netspeed-unity

