Host *
  SendEnv LANG LC_*
  HashKnownHosts yes
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials no
  Port {{ ssh_listen_port }}
  Compression yes
  StrictHostKeyChecking no
  ServerAliveInterval 15
  ServerAliveCountMax 2

