#{{ ansible_managed }}
Host *
  SendEnv LANG EDITOR LC_*
  HashKnownHosts yes
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials no
  Port {{ ssh_default_port }}
  Compression yes
  StrictHostKeyChecking no
  ServerAliveInterval 15
  ServerAliveCountMax 2

