---
- name: Creating directory for host backup
  file: dest='{{ backup_dest }}/{{ inventory_hostname }}' state=directory
  delegate_to: localhost
  when: not backup_skip

- include_tasks: groups_loop.yml
  loop: "{{ group_names }}"
  loop_control:
    loop_var: group_name
  when: not backup_skip

- synchronize:
    src: '{{ item }}'
    dest: '{{ backup_dest }}/{{ inventory_hostname }}'
    delete: yes
    mode: pull
    copy_links: no
    rsync_path: "sudo rsync"
    rsync_opts: '{{ backup_rsync_opts }}'
  loop: "{{backup_src_hosts[inventory_hostname] }}"
  when: inventory_hostname in backup_src_hosts
