ServerName "FTP server at {{ inventory_hostname }}.{{ domain }}"
ServerIdent off
ServerType standalone
Umask 022 022
DefaultServer on
DefaultTransferMode ascii
MaxInstances 20
User proftpd
Group nogroup
Port 21
RequireValidShell off
UseGlobbing off
IdentLookups off
DeferWelcome on
AuthPAM on
ShowSymlinks on
DefaultRoot ~
SyslogLevel info
SyslogFacility DAEMON
TransferLog /var/log/proftpd/xferlog
UseIPv6 off
UseReverseDNS off
SetEnv TZ :/etc/localtime

ModulePath /usr/lib/proftpd
ModuleControlsACLs insmod,rmmod allow user root
ModuleControlsACLs lsmod allow user *
LoadModule mod_tls.c
LoadModule mod_wrap.c
LoadModule mod_rewrite.c
LoadModule mod_ifsession.c
